[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20502} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ ] },
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_opentsdb ] },
          { "MonDemand::LogMsg",   [ ] },
          { "MonDemand::TraceMsg", [ ] }
        ]
      },
      { mondemand_backend_stats_opentsdb,
        [
          {number, 1},
          {host, "localhost"},
          {port, 9999},
          {transport_mod, mondemand_backend_transport_tcp},
          {handler_mod, mondemand_backend_stats_opentsdb}
        ]
      }
    ]
  },
  { mondemand, [ { lwes_channel, { "127.0.0.1", 20502 } } ] }
].
