{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{clean_files, ["ebin", "doc"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps,
    [
      { mondemand_server,
        "2.0.0",
        {git, "git://github.com/mondemand/mondemand-server.git", {tag, "2.0.0"} }
      },
      { parse_trans,
        "2.8",
        {git, "git://github.com/uwiger/parse_trans.git", {tag, "2.8"} }
      }
    ]
}.
