[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20402} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ mondemand_journaller ] },
          { "MonDemand::StatsMsg", [ mondemand_stats_opentsdb ] }
        ]
      },

      % config for particular modules
      { mondemand_journaller,
        [
          { root, ["/", "tmp","data","journals"] },
          { name, "all_events" },
          { interval, 60 }
        ]
      },
      {
        mondemand_stats_opentsdb,
        [
          % TODO: put config for opentsdb here
        ]
      }
    ]
  }
].
